In [15]:
import matplotlib.pyplot as plt
import pandas as pd
import json

In [14]:
df = pd.read_json("./roll-data.json")
df = pd.json_normalize(df["servant"])
df

,sv_collectionId,sv_name,sv_class,sv_rarity,sv_face
0,50,Spartacus,berserker,1,https://static.atlasacademy.io/JP/Faces/f_7005...
1,33,Hans Christian Andersen,caster,2,https://static.atlasacademy.io/JP/Faces/f_5005...
2,40,Hassan of the Cursed Arm,assassin,2,https://static.atlasacademy.io/JP/Faces/f_6002...
3,255,Paris,archer,2,https://static.atlasacademy.io/JP/Faces/f_2035...
4,107,Aŋra Mainiiu,avenger,0,https://static.atlasacademy.io/JP/Faces/f_1100...
...,...,...,...,...,...
94,40,Hassan of the Cursed Arm,assassin,2,https://static.atlasacademy.io/JP/Faces/f_6002...
95,259,Charlotte Corday,assassin,1,https://static.atlasacademy.io/JP/Faces/f_6038...
96,260,Salome,berserker,2,https://static.atlasacademy.io/JP/Faces/f_7034...
97,39,Sasaki Kojirou,assassin,1,https://static.atlasacademy.io/JP/Faces/f_6001...
98,21,Leonidas I,lancer,2,https://static.atlasacademy.io/JP/Faces/f_3009...

In [16]:
rarity_counts = df["Rarity"].value_counts().sort_index()

# Plot a bar graph with respect to Rarity
rarity_counts.plot(kind="bar")
plt.xlabel("Rarity")
plt.ylabel("Number of Appearances")
plt.title("Number of Appearances for Each Rarity")
plt.xticks(rotation=0)  # Rotate x-axis labels for better visibility
plt.tight_layout()

# Show the plot
plt.show()

KeyError: 'Name'